
<!-- <li><a routerLink="add-interviewer">interviewer-login</a></li> --> 
 <nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HOME</a>
    </div>
    <!-- <ul class="nav navbar-nav">
      <li><a routerLink="login-as-candidate">candidate-login</a></li>
      <li><a routerLink="interviewerhome">interviewer-login</a></li>
      <li><a routerLink="login-as-admin">admin-login</a></li>
    </ul> -->
  </div>
</nav>
<router-outlet></router-outlet> 


 